<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">🌐 Blog Site</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/add-blog">Add Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">My Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- <img src="<%= user.profileImgURL %>" /> -->
            <%= user.fullName %>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/add-blog">Add Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signup">Create Account</a>
        </li>
        <% } %>
      </ul>

      <form class="d-flex ms-lg-3 mt-3 mt-lg-0" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search posts..."
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-3">
  <div class="alert alert-danger" role="alert"><%= locals.error %></div>
</div>
<% } %>
